---
import Layout from '../layouts/Layout.astro';
import ProductCards from "../components/ProductCards.astro";
import CardsSlideShow from "../components/CardsSlideShow.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Make Lunch - prepare your product for launch"
        description="We help early-stage startups and founders to launch their products. We value speed, and have a proven track record.">
    <main class="bg-white p-5">
        <div class="grid md:grid-cols-2 gap-5">
            <div class="md:order-1 order-2 flex flex-col items-start justify-start">
                <div class="md:block hidden">
                    <Hero/>
                </div>
                <h4 class="text-[20px] leading-[32px] font-medium mt-5">
                    We work with underdogs
                </h4>
                <p class="text-gray text-[20px] leading-[32px] font-medium">
                    We collaborate with early-stage startups and founders, whether they are launching for the first
                    time, or pivoting for the third.
                </p>
                <h4 class="text-[20px] leading-[32px] font-medium mt-5">
                    We value speed
                </h4>
                <p class="text-gray text-[20px] leading-[32px] font-medium">
                    We don't have any big corporate vibes here. We hop on a call together, develop a plan, and execute
                    it as quickly as possible, mostly communicating via messengers.
                </p>
                <h4 class="text-[20px] leading-[32px] font-medium mt-5">
                    Free when possible
                </h4>
                <p class="text-gray text-[20px] leading-[32px] font-medium">
                    Twice a week, we offer assistance to young founders to help them improve. Take advantage of our
                    services for free, and all we ask in return is for you to acknowledge our contribution to your
                    journey.
                </p>
                <h4 class="text-[20px] leading-[32px] font-medium mt-5">
                    Proven track record
                </h4>
                <p class="text-gray text-[20px] leading-[32px] font-medium">
                    We have launched our own startups and helped clients from around the world in earning millions.
                </p>
                <h4 class="text-[20px] leading-[32px] font-medium mt-5">
                    Made by Gemss
                </h4>
                <p class="text-gray text-[20px] leading-[32px] font-medium  mb-5">
                    Gemss is a small collective of founders, engineers, designers, managers, and financial advisors who
                    help clients build products and brands.
                </p>
                <CardsSlideShow/>
            </div>
            <div class="md:hidden block">
                <Hero/>
            </div>
            <ProductCards/>
        </div>
    </main>

</Layout>

