---
import {Icon} from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
---

<script>
    window.addEventListener("DOMContentLoaded", async function () {
        const plan = window.location.search.split('plan=')[1];
        const amount = getAmount(plan as number);

        function getAmount(planID: number) {
            if (planID == 2) {
                return 100;
            } else {
                return 0;
            }
        }

        // change button text
        const paymentButton = document.getElementById("payment");
        paymentButton.innerText = amount === 0 ? "Contact" : `Pay $${amount} with Paypal`;

        if (amount != 0) {
            await prefetchPayPalScript();
            paymentButton.addEventListener("click", payWithPayPal);
            return;
        } else {
            paymentButton.addEventListener("click", justShareContacts);
            return;
        }

        async function prefetchPayPalScript() {
            return new Promise((resolve, reject) => {
                const id = 'paypal-js';
                if (!document.getElementById(id)) {
                    let js = document.createElement('script');
                    js.id = id;
                    js.src = 'https://www.paypal.com/sdk/js?client-id=AWULcyDAI-rJl4RtQiRGpS-df_fMhBoiWX9ZvIyXwH1iv2nyAecqpWwdDCfvPar2FweiAzHoApM02yPu&currency=USD';
                    js.onload = resolve;
                    js.onerror = reject;
                    document.body.appendChild(js);
                } else {
                    resolve();
                }
            });
        }

        function sendForm() {
            const name = (document.getElementById('name') as HTMLInputElement).value;
            const email = (document.getElementById('email') as HTMLInputElement).value;
            const description = (document.getElementById('description') as HTMLInputElement).value;

            // update button state
            paymentButton.innerText = "Sending...";
            paymentButton.classList.add("cursor-not-allowed");
            paymentButton.classList.add("opacity-50");
            (paymentButton as HTMLButtonElement).disabled = true;

            fetch('/api/contact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name,
                    email,
                    description,
                }),
            }).then(() => {
                window.location.href = '/success';
            }).catch((error) => {
                window.location.href = '/error';
            });
        }

        function validateForm() {
            const name = (document.getElementById('name') as HTMLInputElement).value;
            const email = (document.getElementById('email') as HTMLInputElement).value;

            // change style of border

            if (!name) {
                (document.getElementById('name') as HTMLInputElement).style.border = "1px solid red";
                return false;
            } else {
                (document.getElementById('name') as HTMLInputElement).style.border = "1px solid #E5E5E5";
            }

            if (!email || !validateEmail(email)) {
                (document.getElementById('email') as HTMLInputElement).style.border = "1px solid red";
                return false;
            } else {
                (document.getElementById('email') as HTMLInputElement).style.border = "1px solid #E5E5E5";
            }

            return true;
        }

        function renderPaypalButtons() {
            // @ts-ignore
            paypal.Buttons({
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: amount
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        sendForm();
                    });
                },
                style: {
                    color: 'black', // or 'gold', 'blue', 'silver', 'white', 'black'
                    shape: 'rect', // or 'pill'
                    layout: 'vertical', // or 'horizontal'
                    label: 'checkout', // or 'buynow', 'pay', 'installment'
                    size: 'large', // or 'small', 'medium', 'large'
                    height: 48, // Optional, specify the height of the button
                },
            }).render('#paypal-button-container');

            document.getElementById("paypal-button-container").style.display = "block";
        }

        function payWithPayPal() {
            if (!validateForm()) {
                return;
            }

            // hide payment button
            paymentButton.classList.add("hidden");

            renderPaypalButtons();
        }

        function justShareContacts() {
            if (!validateForm()) {
                return;
            }

            sendForm();
        }
    });

    const validateEmail = (email) => {
        return String(email)
            .toLowerCase()
            .match(
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
    }
</script>

<Layout title="Purchase our service">
    <div class="block text-center md:pt-5 md:bg-background bg-white top-0 left-0 w-full inset-0 h-screen relative">
        <div class="mx-auto md:w-1/2 w-full bg-white flex flex-col items-start justify-start h-full p-5 rounded-t-3xl">
            <div class="flex flex-row justify-between items-start w-full">
                <div class="text-start">
                    <p class="text-[28px] leading-[32px] font-medium">
                        Leave your contacts
                    </p>
                    <p class="text-[28px] leading-[32px] font-medium text-gray">
                        We'll message you on working hours
                    </p>
                </div>
                <a class="text-black p-2 -m-2" href="/">
                    <Icon name="cancel" class="text-black h-6 w-6"/>
                </a>
            </div>
            <label class="text-[13px] font-medium uppercase leading-[30px] mt-10"
                   for="name">
                Name
            </label>
            <input class="w-full h-9 rounded-[10px] bg-background px-3.5 text-[16px] font-medium focus:outline-none focus:ring-1 focus:ring-[#5E58F6]"
                   type="text" id="name" placeholder="John Doe" required/>

            <label class="text-[13px] font-medium uppercase leading-[30px] mt-5"
                   for="email">
                Email
            </label>

            <input class="w-full h-9 rounded-[10px] bg-background px-3.5 text-[16px] font-medium focus:outline-none focus:ring-1 focus:ring-[#5E58F6]"
                   type="email" id="email" placeholder="doublejacketjimmy@example.com" required/>

            <label class="text-[13px] font-medium uppercase leading-[30px] mt-5"
                   for="description">
                Write a message
            </label>

            <textarea
                    class="h-24 py-2 resize-none w-full rounded-[10px] bg-background px-3.5 text-[16px] font-medium focus:outline-none focus:ring-1 focus:ring-[#5E58F6] mb-8"
                    id="description"
                    placeholder="Optionaly describe what is your project about and what are you looking for out of this collaboration"
                    required/>


            <button class="rounded-[50px] bg-[#5E58F6] h-9 px-3 text-[16px] text-white font-medium leading-[20px]"
                    id="payment">
                Pay with Paypal
            </button>
            <div id="paypal-button-container" style="display: none; width: 100%"></div>
        </div>
    </div>
</Layout>
