---
import {Icon} from "astro-icon/components";
---
<h1 class="md:text-[44px] text-[28px] md:leading-[50px] leading-[36px] font-medium">
    Make Lunch
</h1>
<h3 class="md:text-[44px] text-[28px] md:leading-[50px] leading-[36px] font-medium text-gray">
    Build the product, we will help with the launch.
</h3>
<a class="md:static fixed transform bottom-5 left-1/2 -translate-x-1/2 md:translate-x-0 rounded-[50px] mt-5 text-white flex flex-row items-center space-x-1 text-[16px] font-medium bg-deepPurple h-9 pl-2.5 pr-3.5"
   href="mailto:maxim@thegaas.co">
    <Icon name="wave" class="w-6 h-6 fill-white stroke-white"/>
    Discuss
</a>
<img src="/hero.png" class="mt-10" alt="hero"/>