---
interface Props {
    name: string;
    description: string;
}

const {name, description} = Astro.props;
---

<div>
    <div class="bg-neutral-400 w-32 h-32 mb-3"></div>
    <p class="md:text-[20px] text-[16px] md:leading-[24px] leading-[20px] font-medium">{name}</p>
    <p class="md:text-[20px] text-[16px] md:leading-[24px] leading-[20px] font-medium text-gray">{description}</p>
</div>
