<script>

</script>
<div class="scroll md:order-2 order-none flex md:flex-col self-stretch flex-row md:items-start justify-start items-stretch md:overflow-hidden overflow-x-scroll md:gap-0 gap-2 md:mx-0 -mx-5">
    <a class="rounded-[20px] w-full p-5 md:ml-0 ml-5 flex flex-col items-start justify-start bg-brown-bg md:pb-28"
       href="/checkout?plan=1">
        <div class="min-w-[300px] md:w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    Free launch
                </h4>
                <p class="text-brown md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    Free branding and presentation twice per week
                </p>
            </div>
            <div class="flex flex-row items-center">
                <div class="whitespace-nowrap flex items-center justify-center text-brown-secondary rounded-[16px] bg-brown-bg-secondary px-3 h-9 md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] tracking-[1px] uppercase -mr-2.5">
                    1 DAY
                </div>
                <div class="flex items-center justify-center text-brown-bg rounded-[16px] bg-black px-3 h-9 md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] tracking-[1px] uppercase">
                    Free
                </div>
            </div>
        </div>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • Pre-launch Review
        </p>
        <p class="text-brown md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            We’ll help to formulate key messages and improve presentation
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • Product Hunt Presentation
        </p>
        <p class="text-brown md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            Presentation slides and avatar that will help to showcase your project
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • Basic Branding
        </p>
        <p class="text-brown md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            A logo, colors, and design created quickly, but still eye-catching.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • Product Hunt Community Support
        </p>
        <p class="text-brown md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            A few honest reviews and comments from our team.
        </p>
    </a>
    <a class="min-w-[320px] md:w-full md:-mt-10 rounded-[20px] flex flex-col justify-between items-start p-5 bg-purple-bg md:pb-28"
       href="/checkout?plan=2">
        <div class="w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    Regular launch
                </h4>
                <p class="text-purple md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    One-pager and a quick logo to stand out from the crowd
                </p>
            </div>
            <div class="flex flex-row items-center">
                <div class="whitespace-nowrap flex items-center justify-center text-purple-secondary rounded-[16px] bg-purple-bg-secondary px-3 h-9 md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] tracking-[1px] uppercase -mr-2.5">
                    3 DAYS
                </div>
                <div class="flex items-center justify-center text-purple-bg rounded-[16px] bg-black px-3 h-9 md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] tracking-[1px] uppercase">
                    $100
                </div>
            </div>
        </div>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • Everything from free launch
        </p>
        <p class="text-purple md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            Includes pre-launch review, logo creation, and product review and comments.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • Quick Market Research
        </p>
        <p class="text-purple md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            We will conduct a rapid market research to enhance results.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • Handcrafted Logo & Detailed Branding
        </p>
        <p class="text-purple md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            An improved brand identity on various placements, including advertisements.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium">
            • One-Pager Design & Development
        </p>
        <p class="text-purple md:text-[16px] text-[15px] md:leading-[20px] leading-[20px] font-medium mb-4">
            We will design, develop, and launch the website.
        </p>
    </a>
    <a class="min-w-[300px] md:w-full md:-mt-10 rounded-[20px] flex flex-col justify-between items-start p-5 bg-pink-bg md:pb-28 mr-5 md:mr-0"
       href="mailto:maxim@thegaas.co">
        <div class="w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    Marketing launch
                </h4>
                <p class="text-pink md:text-[28px] text-[20px] md:leading-[32px] leading-[24px] font-medium">
                    Advertising that brings first clients and makes money
                </p>
            </div>
            <div class="whitespace-nowrap flex items-center justify-center text-white rounded-[16px] bg-black px-3 h-9 md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] tracking-[1px] uppercase">
                500 / mo
            </div>
        </div>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • Everything from free launch
        </p>
        <p class="text-pink md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium mb-4">
            Includes pre-launch review, logo creation, and product review and comments.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • Quick Market Research
        </p>
        <p class="text-pink md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium mb-4">
            We will conduct a rapid market research to enhance results.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • Handcrafted Logo & Detailed Branding
        </p>
        <p class="text-pink md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium mb-4">
            An improved brand identity on various placements, including advertisements.
        </p>
        <p class="md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium">
            • One-Pager Design & Development
        </p>
        <p class="text-pink md:text-[16px] text-[15px] md:leading-[20px] leading-[20px]  font-medium mb-4">
            We will design, develop, and launch the website.
        </p>
    </a>
</div>

<style>
    .scroll::-webkit-scrollbar {
        display: none;
    }
</style>