<script>

</script>
<div class="flex flex-col items-start justify-start">
    <a class="rounded-[20px] w-full p-5 flex flex-col items-start justify-start bg-brown-bg pb-28"
       href="/checkout?plan=1">
        <div class="w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="text-[28px] leading-[32px] font-medium">
                    Free launch
                </h4>
                <p class="text-brown text-[28px] leading-[32px] font-medium">
                    Free branding and presentation twice per week
                </p>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex items-center justify-center text-brown-secondary rounded-[16px] bg-brown-bg-secondary px-3 h-9 text-[16px] leading-[20px] tracking-[1px] uppercase -mr-2.5">
                    1 DAY
                </div>
                <div class="flex items-center justify-center text-brown-bg rounded-[16px] bg-black px-3 h-9 text-[16px] leading-[20px] tracking-[1px] uppercase">
                    Free
                </div>
            </div>
        </div>
        <p class="text-[16px] leading-[20px] font-medium">
            • Pre-launch Review
        </p>
        <p class="text-brown text-[16px] leading-[20px] font-medium mb-4">
            We’ll help to formulate key messages and improve presentation
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Product Hunt Presentation
        </p>
        <p class="text-brown text-[16px] leading-[20px] font-medium mb-4">
            Presentation slides and avatar that will help to showcase your project
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Basic Branding
        </p>
        <p class="text-brown text-[16px] leading-[20px] font-medium mb-4">
            A logo, colors, and design created quickly, but still eye-catching.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Product Hunt Community Support
        </p>
        <p class="text-brown text-[16px] leading-[20px] font-medium mb-4">
            A few honest reviews and comments from our team.
        </p>
    </a>
    <a class="-mt-10 rounded-[20px] flex flex-col justify-between items-start w-full p-5 bg-purple-bg pb-28"
       href="/checkout">
        <div class="w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="text-[28px] leading-[32px] font-medium">
                    Regular launch
                </h4>
                <p class="text-purple text-[28px] leading-[32px] font-medium">
                    One-pager and a quick logo to stand out from the crowd
                </p>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex items-center justify-center text-purple-secondary rounded-[16px] bg-purple-bg-secondary px-3 h-9 text-[16px] leading-[20px] tracking-[1px] uppercase -mr-2.5">
                    3 DAYS
                </div>
                <div class="flex items-center justify-center text-purple-bg rounded-[16px] bg-black px-3 h-9 text-[16px] leading-[20px] tracking-[1px] uppercase">
                    $99
                </div>
            </div>
        </div>
        <p class="text-[16px] leading-[20px] font-medium">
            • Everything from free launch
        </p>
        <p class="text-purple text-[16px] leading-[20px] font-medium mb-4">
            Includes pre-launch review, logo creation, and product review and comments.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Quick Market Research
        </p>
        <p class="text-purple text-[16px] leading-[20px] font-medium mb-4">
            We will conduct a rapid market research to enhance results.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Handcrafted Logo & Detailed Branding
        </p>
        <p class="text-purple text-[16px] leading-[20px] font-medium mb-4">
            An improved brand identity on various placements, including advertisements.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • One-Pager Design & Development
        </p>
        <p class="text-purple text-[16px] leading-[20px] font-medium mb-4">
            We will design, develop, and launch the website.
        </p>
    </a>
    <a class="-mt-10 rounded-[20px] flex flex-col justify-between items-start w-full p-5 bg-pink-bg pb-28"
       href="mailto:maxim@thegaas.co">
        <div class="w-full flex flex-row justify-between items-start mb-8">
            <div class="max-w-md">
                <h4 class="text-[28px] leading-[32px] font-medium">
                    Marketing launch
                </h4>
                <p class="text-pink text-[28px] leading-[32px] font-medium">
                    Advertising that brings first clients and makes money
                </p>
            </div>
            <div class="flex items-center justify-center text-white rounded-[16px] bg-black px-3 h-9 text-[16px] leading-[20px] tracking-[1px] uppercase">
                500 / mo
            </div>
        </div>
        <p class="text-[16px] leading-[20px] font-medium">
            • Everything from free launch
        </p>
        <p class="text-pink text-[16px] leading-[20px] font-medium mb-4">
            Includes pre-launch review, logo creation, and product review and comments.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Quick Market Research
        </p>
        <p class="text-pink text-[16px] leading-[20px] font-medium mb-4">
            We will conduct a rapid market research to enhance results.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • Handcrafted Logo & Detailed Branding
        </p>
        <p class="text-pink text-[16px] leading-[20px] font-medium mb-4">
            An improved brand identity on various placements, including advertisements.
        </p>
        <p class="text-[16px] leading-[20px] font-medium">
            • One-Pager Design & Development
        </p>
        <p class="text-pink text-[16px] leading-[20px] font-medium mb-4">
            We will design, develop, and launch the website.
        </p>
    </a>
</div>